{% load static %}
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Sooraj Ashok</h1>
      <p>I'm <span class="typed" data-typed-items="Python Developer, Freelancer, Photographer"></span></p>
      <div class="social-links">
        <a href="mailto:mr.soorajashok@gmail.com" class="bi-envelope"><i class="bx bxl-envelope"></i></a>
        <a href="https://www.facebook.com/sooraj.kannan.777?mibextid=LQQJ4d" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/whatz_nxtt?igsh=ZWFtZnNuaXd6d3Vj&utm_source=qr" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="https://www.linkedin.com/in/sooraj-ashok-3a5842177" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section>